:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-primary: "Roboto", sans-serif;
  --font-size-base: 16px;
  --font-color: #404040;
}

body,
html {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  position: relative;
}

.nav {
  padding-block: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other content */
  background-color: #ffffff; /* Optional: Set a background color to prevent content from showing through */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}
.bg-body-tertiary {
  background-color: white !important;
}

.home-hero__socials {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 0.8rem;w
  /* height: 200px; */
}
.linkedin-icon,
.twitter-icon,
.youtube-icon,
.github-icon {
  width: 30px;
  height: 30px;
  margin-top: 0.5rem;
}

.image1 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%; /* This creates a circle */
  object-fit: cover; /* Optional: Ensures the image covers the entire area */
}
.nav h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.3rem;
  color: var(--font-color);
}
.section1 {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(images/background.svg);
  background-position: center;
  padding-block: 20rem;
  position: relative;
}
.section1 h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 4rem;
  color: black;
  font-weight: 600;
}
.section1 h2 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  color: var(--font-color);
  line-height: 2.2rem;
}
.section1 button {
  display: block;
  margin: 0 auto;
  width: 14rem;
  height: 3.3rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.home-hero__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}
.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

.section2 {
  background-color: #fafafa;
  padding-block: 10rem;
}

.text1 {
  font-size: 2.5rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}

.section2 h1 ::after {
  width: 2rem;
  height: 1rem;
  background-color: violet;
  position: absolute;
  margin: 0 auto;
}

.text2 {
  font-size: 1.2rem;
  color: var(--font-color);
  font-weight: 300;
}
.section2 .row h1 {
  font-size: 2.5rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.section2 p {
  font-size: 1rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  color: var(--font-color);
  line-height: 1.7rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills__skill {
  padding: 0.7rem 1.5rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  font-size: 0.8rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

.section2 button {
  display: block;
  width: 9rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
}
.section3 {
  padding-block: 10rem 5rem;
}
.text3 {
  font-size: 2rem;
  font-weight: 600;
}
.text4 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--font-color);
}
.mockup1 {
  width: 600px;
  height: 90%;
}
.section4 {
  background-color: black;
}
.section4 h1 {
  font-size: 1.3rem;
}
.s-icon {
  width: 1.5rem;
}

  
@media screen and (max-width: 1024px) {
 .section1{
  padding-block: 10rem;
 }
 .section2{
  padding-block: 5rem;
 }
 .section3{
  padding-block: 2rem 0rem;
 }
 .mockup1{
  width: 465px;
  height: 90%;
 }
 .projects{
  padding-block: 1rem;
 }
 .text3{
  padding-top: 1rem;
 }
}

@media screen and (max-width: 768px) {

  body,
html{
    font-size: 12px;
  }
  .section2{
    padding-block: 3rem;
   }
 
}
@media screen and (max-width: 768px) {

  body,
html{
    font-size: 16px;
  }
 
 
}
